<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head>
<body>

  <% include ../../partials/nav %>

  <div class="content-wrapper">
    <section class="content-header">

      <div>


        My top content


        <% for(var i=0; i<ui.top.length; i++) { %>
           <p><%= ui.top[i].rating %>. <a href="random_rate?uri=<%= ui.top[i].uri %>"><%= ui.top[i].uri %> </a></p>
        <% } %>


      </div>

    </section>
  </div>

  <footer>
    <% include ../../partials/footer %>
  </footer>

</body>
</html>
