<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/nav %>

  <div class="content-wrapper">
    <section class="content-header">

      <div>
      Correct!<br>
      <%= ui.payout %> has been added to your <a href="/balance">balance</a><br>
      </div>

    </section>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
