<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/nav %>

  <div class="content-wrapper">
    <section class="content-header">

      <div>
        Balance : <%= ui.balance %>
      </div>

    </section>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
